---
import type { Tables } from "../types/database";

interface Props extends Tables<"exercises"> {
    workout_id: string;
}

const { name, description, muscle_group, id } = Astro.props;
---

<a
    href={`/workouts/${id}`}
    class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
    <h5
        transition:name={id}
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
        {name}
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
        {description}
        {muscle_group}
    </p>
</a>
